html,
body,
#react-root {
  height: 100%;
}

body {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  margin: 0px;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */


input {
  margin: 5px;
  margin-bottom: 10px;
}

img.games_logo {
  height: 25px;
}

img.request_logo {
  height: 50px;
}

img.requestInvite_logo {
  height: 90px;
}

.centerText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* parallax */

.image {
  position: relative;
  height: 80vh;
  margin: 20px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 80vh;
  width: 100%;
}

.content span.text-content {
  color: #fff;
  font-size: 8rem;
  border: #fff solid 12px;
  border-radius: 10px;
  padding: 20px;
}

#main {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-image: linear-gradient(to bottom,rgb(0,0,0,0),rgb(0, 0, 0, 0.15)); */
}

#landingCard {
  background-color: rgb(255, 244, 206);
}

* {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Roboto", sans-serif;
}

/* * {
  font-family: "Roboto", sans-serif;
  border: rgb(0, 0, 0) solid 2px;
} */